* {
  box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
.navbar{
    padding: 20px 0;
        position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 999;
}
@media only screen and (max-width: 790px) {
  .navmain {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}
.coll{
    visibility: hidden;
}
}
.myname{
    padding-top: 220px;
    padding-bottom: 100px;
}
#drop1:hover #dropm1{
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
#drop2{
    position: relative;
}
.drop2{
    transition: all 0.5s ease;
}
#dropm2{
    visibility: hidden;
    position: absolute;
    left: -150px;
    top: 1px;
    transition: all 0.5s ease;
    z-index: 99;
}


#drop2:hover #dropm2{
    visibility: visible;
    left: -178px;
    top: 1px;
    display: block;
    margin-left: 0; /* remove the gap so it doesn't close */
}
.nav-link:hover{
color: blue;
}
#dropmenu1:hover{
    color: blue;
}

#headingtext{
    font-size: 68px;
    max-width: 760px;
}
.description{
    line-height: 30px;
    font-size: 16px;
    max-width: 560px;
    color:gray;
}
#gets{
    transition: all 0.5s ease;
}
#gets:hover{
box-shadow: 2px 2px 5px blue;
 transform: translateY(-3px);
}
#view{
    border: 2px solid gray;
    transition: all 0.5s ease;
}
#view:hover{
    border: 2px solid blue;
    color: blue;
    transform: translateY(-3px);
}

#spaw{
    color: black;
}
.firsts{
    color: yellow;
}
.headera{
    width: 230px;
    display: inline-flex;
    gap: 4px;
    background-color: white;
    padding: 8px 20px;
        box-shadow: 0 4px 20px 
 color-mix(in srgb, var(--default-color), transparent 90%);
  border: 1px solid gray;
    border-radius: 10px;
    
    
}
.aos-a{
    opacity: 0;
}
.is-visible{
    opacity: 1;
}
.headerb{
    margin-bottom: 60px;
}
.tro{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.torphy1{
    max-width: 200px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding:15px;
}
.torphy-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    
}
.award-item1{
font-size: 26px;
display: block;
}
.award-item2{
font-size: 15px;
display: block;
}
.award{
    width: 100px;
    height: 60px;
}
.About{
margin-bottom: 100px;
}
.bi-trophy{
    font-size: 20px;
    color: blue;
}
.mimg{
    position: relative;
    
}
.mimgm{
    position: relative;
    width: 100%;
}
.whoabout{
    padding-left: 40px;
    
}
.simg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img2{
    width:100%;
}
.img3{
    width: 100%;
}
.semid{
    margin-bottom: 40px;
}
.selast{
    margin-bottom: 40px;
}
.seintro-h{
    background-color: color-mix(in srgb, blue, transparent 90%);
    color: blue;
    border-radius: 4px;
    font-weight: 400;
    margin-bottom: 20px;
}
.semid-p{
color: gray;
line-height: 1.5;
margin-bottom: 30px;
}
.selast1{
display: flex;


}
.selast-bi{
   background-color:  color-mix(in srgb, blue, transparent 90%);
   color: blue;
    width: 100px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selast2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.learnb{
    width: 230px;
    color: white;
    background-color: blue;
    opacity: 90%;
    transition: all 0.5s ease;
}
.learnb:hover{
    color: white;
    transform: translateY(-2px);
    background-color: blue;
    opacity: 100%;
}
.metrix{
padding-bottom: 50px;
padding-top: 50px;  
border: 1px solid gray;
border-radius: 10px;
     
}
.metrix1{
    display: flex;

}
.metrixc{
    width: 25%;
}
.metrixh{
    font-size: 40px;
    color: blue;
    font-weight: 700;
}
.metrixp{
    color: gray;
}
.title{
text-align: center;
margin-bottom: 100px;
}
.Service{
    margin-bottom: 85px;
}
.ser{
    display: flex;
    width: 50%;
    transition: all 0.5s ease;
}
.ser:hover{
transform: translateY(-3px);
}
.ser:hover .serfi .bi-rocket-takeoff{
transform: scale(1.1);
}
.serh{
text-align: center;
padding-bottom: 20px;
color: blue;
text-transform: uppercase;
font-weight: 700;
font-size: 40px;
}
.serp{
    text-align: center;
    color: gray;
    max-width: 900px;
    margin: 0 auto;
}
.serf{
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
    padding: 40px;
    text-align: center;
    width: 100%;
}
.serft{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    padding: 8px;
    background-color: blue;
    color: white;
    position: absolute;
    left: 40%;
    top: -10px;
    transform: translateY(-10px);

}
.serb{
    display: flex;
    width: 50%;
}
.serfi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.5s ease;
    
}
.bi-rocket-takeoff{
    color: white;
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: blue;
    border-radius: 30%;
    transition: all 0.5s ease;
}
.serfe{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}
.h1s{
    margin-bottom: 20px;
}
.p1s{
    margin-bottom: 15px;
}
.serfe1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.bi-check-circle-fill{
    color: blue;
    font-size: 16px;
}
.btng{
    transition: all 0.5s ease;
}
.btng:hover{
box-shadow: 2px 2px 5px blue;
 transform: translateY(-3px);
}
.serff{

    width: 46%;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    text-align: center;
    
}
.serb{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    transition: all 0.5s ease;
}

.serfff{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.5s ease;
    background-color:color-mix(in srgb, blue, transparent 90%) ;
}
.bi-shield-check{
    font-size: 35px;
    color: blue;
}
.hh1{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 3px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
#hh1{
    transition: all 0.5s ease;
}
.hh1:hover #hh1{
    transform: translateX(5px);
}
/* Style the tab */
.tab {
    display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 350px;
  border-radius: 50px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  width: 33.3%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 50px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
  color: blue;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: blue;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  
  border-top: none;
}
.tabc{
    display: flex;
}
.tabc1{
    width: 33%;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transition: all 0.5s ease;
}
.tabc1:hover{
    border: 1px solid blue;
    transform: translateY(-3px);
}
.tabc1:hover .tabch .bihed .bi-headset{
    transform: scale(1.1);
}
.h1ss{
margin-bottom: 40px;
font-size: 20px;
font-weight: 600;
}
.p1ss{
    margin-bottom: 40px;
    color: gray;
}
.btnview{
    color: blue;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 40px;
    border: 1px solid blue;
    background-color: inherit;
}
.btnview:hover{
background-color: blue;
color: white;
}
.tabch{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.bihed{
    width: 70px;
    height: 70px;
    background-color:color-mix(in srgb, blue, transparent 90%) ;
    border-radius: 10px;
}
.hedset{
    font-size: 50px;
    font-weight: 400;
    color: blue;
}
.fheader{
    margin-bottom: 60px; 
    text-align: center; 
}
.hfe{
    text-align: center;
    color: blue;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.hfe::after{
     content: ''; /* Required for pseudo-elements */
  position: absolute;
  width: 50%; /* Line spans the full width of the word */
  height: 1px; /* Thickness of the line */
  background-color: blue; /* Color of the line */
  bottom: -5px; /* Adjust this value to set the offset from the text */
  left: 25%;
}
.fcon{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}
.fcon1{
    width: 50%;
    padding: 5px;
}
.fcon2{
    display: flex;
    width: 50%;
    padding: 5px;
    align-items: center;
    text-align: start;
}
.fcimg{
    width: 100%;
}
.fimg{
    width: 100%;
}
.fcp{
    font-size: 18px;
    line-height: 1.7;
    color: gray;
}
.fwrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    gap: 40px;
}
.fwrapc{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.fwrapi{
    width: 167px;
    height: 60px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.fwrapii{
    font-weight: 400;
    font-size: 30px;
    
}
.fwrapi:hover{
    transform: scale(1.1);
}
.fwp{
    color: gray;
    line-height: 1.7;
}
.fw1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.fwc{
    padding: 15px;
    width: 50%;
    display: flex;
    gap: 20px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 70px;
}
.fwc:hover{
    border-color: blue;
}
.fwci{
    width: 95px;
    height: 55px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.fwcii{
    font-weight: 300;
    font-size: 30px;
    color: blue;
}
.fwcb{
    display: flex;
    gap: 25px;
}
.fsp{
    padding: 4px 10px;
    border-radius: 20px;
    color: blue;
    background-color: #ccc;
}
.fwcl{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}
.fwcl1{
width: 200px;
height: 50px;
background-color: blue;
border: 1px solid transparent;
color: white;
border-radius: 50px;
transition: all 0.5s ease;
}
.fwcl1:hover{
    transform: translateY(-3px);
    box-shadow: 10px 10px;
    
}
.fwcl2{
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.fwcl2:hover{
    border: 1px solid blue;
    color: blue;
    transform: translateY(-3px);
}
.testimonials{
    margin-bottom: 100px;
}
.testh{
    margin-bottom: 60px; 
    text-align: center; 

}
.the{
    text-align: center;
    color: blue;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase
}
.the::after{
     content: ''; /* Required for pseudo-elements */
  position: absolute;
  width: 50%; /* Line spans the full width of the word */
  height: 1px; /* Thickness of the line */
  background-color: blue; /* Color of the line */
  bottom: -5px; /* Adjust this value to set the offset from the text */
  left: 25%;
}
.testc{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 0px;
    gap: 30px;
}
.testci{
    margin-bottom: 20px;
}
.testc1{
    
    border-radius: 20px;
    padding: 40px;
    border: 1px solid rgb(248, 241, 241);
    position: relative;
    transition: all 0.5s ease;
    background-color: white;
    
}
#testc1{
    background-color: transparent;
    border: 2px solid rgb(206, 196, 196);
}
.totest{
    position: absolute;
    background-color: blue;
    color: white;
    border-radius: 50px;
    display: flex;
    gap: 15px;
    padding: 5px;
    align-items: center;
    font-weight: 600;
    top: -10px;
    right: 30px;
}
.testcb{
    font-style: italic;
    color: gray;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 30px;

}
.testcb::before{
    content: '"';
    position: absolute;
    top: 40px;
    left: 35px;
    font-size: 4rem;
    color: rgb(206, 202, 202);
    font-family: Georgia, serif;
    
}
.testci i{
    color: yellow;
}
.testlast{
    display: flex;
    gap: 20px;
    border-top: 1px solid rgb(224, 213, 213);
    padding-top: 20px;
}
.testc1:hover{
    box-shadow: 5px 8px 8px 5px  rgb(226, 221, 221);
}
.testlasti{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid blue;
}
.testlastii{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testlastp{
color: blue;
}
.testlastd{
    color: gray;
}
.pric1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 90px;
    
}
.pricc{
    text-align: center;
    border: 1px solid rgb(230, 222, 222);
    padding: 20px;
    transition: all 0.5s ease;
}
.pricc:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px rgb(231, 226, 226);
}
.prici{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
        background: 
 color-mix(in srgb, #ffffff, transparent 80%);
    color: blue;
    font-size: 30px;
}
.priche{
    text-align: center;
}
.priche1{
    display: flex;
    justify-content: center;
}
.pricecc{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}
.pricel{
    text-align: center;
    margin-bottom: 30px;
}
.ppl1{
    vertical-align: top;
}
.ppl2{
    font-weight: 700;
    font-size: 50px;
}
.ppl3{
    font-size: 20px;
}
.pricr{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;


}
.pricrr{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.pricelast{
    text-align: center;
}
.pricelast1{
    width: 200px;
    height: 50px;
    background-color: rgb(221, 215, 215);
    border-radius: 50px;
    font-size: 20px;
    border: none;
    transition: all 0.5s ease;
}
.pricelast1:hover{
    background-color: #ccc;
}
.bi-check-circle-fill{
    color: blue;
}
.bi-x-circle-fill{
    color: #ccc;
}
#prbb{
    border: 1px solid blue;
}
.sell{
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 30px;
}
.sell1{
    display: flex;
    gap: 20px;
}
.selli{
    width: 100px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
.bi-patch-question{
    color: blue;
    font-size: 30px;
}
.contactm{
    display: flex;
}
.con1{
    width: 50%;
    background-color: blue;
    height: 100%;
    min-height: 650px;
    position: relative;
    overflow: hidden;
}
.con1{
padding: 30px;
}
.con111{
color: white;
}
.con1111{
    color: rgb(216, 205, 205);
    font-size: 18px ;
}
.con1c{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background: 
 color-mix(in srgb, #ffffff, transparent 80%);
    padding: 20px;
    transition: all 0.5s ease;
    margin-bottom: 10px;
}
.con1c:hover{
        background: 
 color-mix(in srgb, #ffffff, transparent 50%);
}
.concc{
    color: white;
}
.con1ci{
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}
.concii{
font-size: 30px;
font-weight: 300px;
color: blue;
}
.con2{
    width: 50%;
    padding: 45px;
    background-color: white;
}
.formg{
    margin-bottom: 30px;
}
.headform{
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
}
.headform::after{
     content: ''; /* Required for pseudo-elements */
  position: absolute;
  width: 50%; /* Line spans the full width of the word */
  height: 1px; /* Thickness of the line */
  background-color: blue; /* Color of the line */
  bottom: -5px; /* Adjust this value to set the offset from the text */
  left: 1px;
}
.form-control{
    padding: 18px 25px;
    width: 85%;
}
.contact{
    margin-bottom: 50px;
}
.conlas{
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 20px;
}
.conlasi{
display: flex;
gap: 30px;
}
.conlash{
    color: white;
    margin-bottom: 20px;
}
.conlashc{
    display: flex;
    gap: 20px;
}
.conlast{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
        background: 
 color-mix(in srgb, #ffffff, transparent 80%);
    border-radius: 4px;
    transition: all 0.5s ease;
}
.conlst:hover{
    transform: translateY(-4px);
    background-color: white;
    color: blue;
}
.conlasti{
    color: white;
    font-size: 18px;
    font-weight: 200px;
}
.submit{
    display: inline-flex;
    gap: 10px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 16px
}
.footer{
    padding-top: 100px;
    border-top: 1px solid gray;
}
.foot{
    padding-bottom: 70px;
}
.foot1{
    padding: 1px 10px;
}
.foota{
    font-size: 30px;
    font-weight: 300px;
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
}
.footp{
    margin-top: 20px;
}
.footlast{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footi{
    display: inline-flex;
    gap: 10px;
    margin-bottom: 20px;

}
.foot22{
    padding-left: 60px;
}
.footp{
    color: gray;
    margin-bottom: 35px;
}
.footsp{
    color: gray;
}
.footnavc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.afoo{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.5s ease;
}
.afoo:hover{
    color: blue;
    transform: translateX(4px);
}
.footermid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid gray;
    padding: 50px 0;
    border-bottom: 1px solid gray;
}
.footermid2{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.footermid22{
    cursor: pointer;
    display: flex;
    gap: 10px;
    transition: all 0.5s ease;
}
.footermidi{
    color: gray;
    transition: all 0.5s ease;
}
.footermids{
    color: gray;
    transition: all 0.5s ease;
}
.footermid22:hover .footermidi{
    color: blue;
    transform: scale(1.1);
}
.footermid22:hover .footermids{
    color: blue;
}
.footermid22:hover{
    transform: translateY(-3px);
}

.footerbottom{
    padding: 25px 0;
}
.footerboot{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footerbootp{
    margin: 0;
    font-size: 14px;
    color: gray;
}
.sitenb{
    font-weight: 400;
    color: #242859;
}
.lastb{
    display: flex;
    gap: 20px;
}
.lass{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.lastb a{
    color: gray;
    text-decoration: none;
    font-size: 13px;
}
.lastb a:hover{
    color: blue;
}
.lastbb{
    border-left: 1px solid gray;
    font-size: 13px;
    margin-left: 30px;
    padding-left: 10px;
}
.lasta{
    text-decoration: none;
    font-size: 13px;
    color: blue;
}
.lasta:hover{
    text-decoration: underline;
}
